:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

body {
    margin: 0;
    margin-inline: auto;
    padding: 0 2rem;
    text-align: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 15px;
    padding: 0;
}

li {
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    list-style: none;
}

li img {
    width: 80px;
    height: 80px;
    border: 1px solid;
    border-radius: 100%;
}

li h2, li p{
    margin: 8px;
}

.username{
    color: #f2f2f2;
}
.email{
    color: #999;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto;
}
